$mq-1:30em !default;
$mq-2:62em !default;
$brown:#594a42 !default;
$grey1:rgba(0,0,0,0.25) !default;
$grey2: rgba(0,0,0,0.60) !default;
$blue-theme-1:#00b5f3 !default;
$background-primary:$blue-theme-1 !default;



$size: 50vmin;