

.prog{
    margin-top:3em;
    margin-bottom:3em;
}

@include small-and-above{
.prog {
 
   height:450px;
   margin-right:2px;
   overflow:hidden;

}
.prog img
{
    width:250px;
    height:250px;
}


}