

.prog{
    margin-top:3em;
    margin-bottom:3em;
}

.prog-img-cont img{
    max-width:100%;
    display:block;
    height:auto;
}

@include small-and-above{
.prog {
 
   height:450px;
   margin-right:2px;
   overflow:hidden;

}

//*** program image container ***/
.prog-img-cont
{
    width:250px;
    height:250px;
}


}