.btn{
    
    
    text-align: center;
    padding:16px;
    border:1px solid rgba(0,0,0,0.15);
    transition: all .5000s ease-in-out;
    -webkit-transition: all .500s ease-in-out;
    background:$blue-theme-1;
    
    }



    


.register >.btn{
    
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    border-radius:4px;
    padding:10px;
}


.btn-round{
  border-radius:2em;
}


div.btn-round{
    width:50px;
}


.btn-send{
    color:white;
    
}
.subscribe input{
    background-color:white;
}
.btn-send .btn, .btn{
    padding:10px;
    border:0px ;

} 


.btn-send:hover{
    cursor:pointer;
 :first-child{
     background:$brown;
 }
 :last-child{
     background:$background-primary;
 }
 
}


.subscribe:hover{
    
    :last-child{
        background:$background-primary;
    }
}

